@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@700&family=Nunito:wght@300;400&display=swap');
@import "timeline.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito', sans-serif;
}
h2, h3 {
    font-family: "Markazi Text", serif;
}

.h-line {
    height: 400px;
}

.pdfImage:hover {
    transform: rotate(-2deg) scale(1.05);
}

.c-case {
    transition: box-shadow 500ms;
}

.c-case:nth-child(even) svg * {
    fill: url(#rg);
}

.c-case:nth-child(odd) svg * {
    fill: url(#rb);
}

.c-case:hover {
    /*transform: scale(0.98)!important;*/
    @apply shadow-lg
}



















