@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@700&family=Nunito:wght@300;400&display=swap');
@import "timeline.css";
@import "card.css";
@import "projet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito', sans-serif;
    background-color: whitesmoke;
}
h2, h3 {
    font-family: "Markazi Text", serif;
}

.h-line {
    height: 400px;
}

.pdfImage:hover {
    transform: rotate(-2deg) scale(1.05);
}

.animatedIcon:hover {
    transform: rotate(3deg) scale(1.10);
}





















