/*.projets img {*/
/*    max-width: 100%;*/
/*    max-height: 100%;*/
/*}*/

.projet img {
    text-align: center;
    display: inline;
    width: 100% ! important;
    height: 100% ! important;
    @apply shadow-md rounded-xl;
}

.projet p {
    margin-bottom: 1rem;
}

.projet ul {
    margin-left: 2rem !important;
    list-style: circle !important;
}

@media screen and (max-width: 770px) {
    .projet p span, .projet p {
        @apply text-base;
    }

    .projet li span {
        @apply text-base;
    }
}
